

<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="mt-5">
    <div class="form-floating">
        <input type="password" class="form-control" name="oldPassword" id="oldPassword" placeholder="Your Password">
        <label for="oldPassword">Your Password</label>
    </div>
    <div class="form-floating mt-1">
        <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="New Password">
        <label for="oldPassword">New Password</label>
    </div>
    <div class="form-floating mt-1">
        <input type="password" class="form-control" name="newPassword2" id="newPassword2" placeholder="Confirm Password">
        <label for="oldPassword">Confirm Password</label>
    </div>
    <button class="btn-secondary mt-2 btn-lg">Save</button>
</div>