<div class="app-main">
  <div
    class="position-sticky top-0 bottom-0 container-fluid m-0 p-0"
    style="z-index: 8000"
  >
    <nav class="navbar">
      <button class="btn" style="font-size: 4vh" (click)="sidenav.toggle()">
        <span class="bi-list"></span>
      </button>

      <a class="logo">
        <img src="./../../assets/images/logo.png" alt="hourTrade" />
      </a>

      <button
        class="btn"
        style="position: absolute; right: 0"
        style="font-size: 4vh"
        (click)="right.toggle()"
      >
        <span class="bi-list"></span>
      </button>
    </nav>
  </div>

  <!-- ---------left right side end -->

  <mat-progress-bar
    *ngIf="store.getLoading()"
    mode="indeterminate"
    style="height: 1vh"
  ></mat-progress-bar>

  <!-- <app-left-sidebar></app-left-sidebar> -->
  <!-- app body -->
  <mat-sidenav-container
    style="position: relative; display: block; width: 100vw"
  >
    <mat-sidenav
      #sidenav
      position="start"
      mode="side"
      style="min-width: 20vw; max-width: 45vw"
      class="bg-secondary ps-4 pt-3 pe-3 pb-2"
    >

    <div class="account-part">
      <li class="nav-item email-address" *ngIf="isLoggedIn">
        <a
          href="#"
          id="profileName"
          class="nav-link text-light"
          aria-expanded="false"
        >
          {{ currentUser.getCryptoAddress() }}</a
        >
      </li>
    </div>

      <div class="searchBar" *ngIf="isLoggedIn">
        <input #searchTitle type="text" placeholder="Search..." (keyup.enter)="globalSearch(searchTitle.value)" />
        <div class="search-part">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <!-- LEFT NAV BAR -->

      <div class="sidebar-menu" *ngIf="isLoggedIn">
        <ul>
          <li *ngFor="let menu of menus" [ngClass]="{'active': menu.active, 'sidebar-dropdown':menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">
            <a *ngIf="menu.type !== 'dropdown'" href="javascript:void(0)" (click)="navigateURL(menu.url)" class="sidebar-url">{{menu.title}}</a>
            <a *ngIf="menu.type === 'dropdown'" href="javascript:void(0)" (click)='toggle(menu)'>
              <div class="menu-bar">
                <span>{{menu.title}}</span>
              </div>
              <!-- <i class="fa fa-angle-down" aria-hidden="true"></i> -->
              <i [ngClass]="{'fa fa-angle-down':menu.type === 'dropdown'}" aria-hidden="true"></i>
              <!-- <fa-icon [icon]="down"></fa-icon> -->
            </a>
            <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
              <ul>
                <li *ngFor="let subitem of menu.submenus">
                  <div *ngIf="subitem.type!='dropdown'">
                    <a href="javascript:void(0)" (click)="navigateURL(subitem.url)"> {{subitem.title}} </a>
                  </div>
                  <div *ngIf="subitem.type==='dropdown'" class="subitem-nav">
                    <a href="javascript:void(0)" (click)="subtoggle(subitem)"> {{subitem.title}} </a>
                    <i [ngClass]="{'fa fa-angle-down':subitem.type === 'dropdown'}" aria-hidden="true"></i>
                  </div>
                  <!-- <div *ngIf="subitem.type === 'dropdown'" class="subitem-submenu"> -->
                  <div *ngIf="subitem.active === true" class="subitem-bar" >
                    <li *ngFor="let items of subitem.submenu">
                      <a href="javascript:void(0)" (click)="navigateURL(items.url)">{{items.title}}</a>
                    </li>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <a href="#" class="nav-link text-light"> Support </a>
      <a href="#" class="nav-link text-light" routerLink="donate"> Donate </a>
    </mat-sidenav>

    <!-- RIGHT SIDENAV down -->

    <mat-sidenav
      #right
      position="end"
      mode="side"
      style="min-width: 20vw; max-width: 45vw"
      class="bg-secondary ps-4 pt-3 pe-3 pb-2"
    >

        <div class="account-part">
          <li class="nav-item number" *ngIf="isLoggedIn">
            <a class="account-href">
              MY HOURS:
              <span
                href="#"
                id="wallet"
                name="wallet"
                class="text-light"
                style="line-height: 3vh"
                ><i class="bi-hourglass-split text-light"></i>
                {{ currentUser.getWallet() | number }}</span
              ></a
            >
          </li>
          <li class="nav-item email-address" *ngIf="isLoggedIn">
            <a
              href="#"
              id="profileName"
              class="nav-link text-light"
              aria-expanded="false"
            >
              {{ currentUser.getCryptoAddress() }}</a
            >
          </li>
        </div>
        <div class="sidebar-menu" *ngIf="isLoggedIn">
          <ul>
            <li *ngFor="let menu of rightmenus" [ngClass]="{'active': menu.active, 'sidebar-dropdown':menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">
              <a *ngIf="menu.type !== 'dropdown'" href="javascript:void(0)" (click)="navigateURL(menu.url)" class="sidebar-url">{{menu.title}}</a>
              <a *ngIf="menu.type === 'dropdown'" href="javascript:void(0)" (click)='righttoggle(menu)'>
                <div class="menu-bar">
                  <span>{{menu.title}}</span>
                </div>
                <!-- <i class="fa fa-angle-down" aria-hidden="true"></i> -->
                <i [ngClass]="{'fa fa-angle-down':menu.type === 'dropdown'}" aria-hidden="true"></i>
                <!-- <fa-icon [icon]="down"></fa-icon> -->
              </a>
              <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
                <ul>
                  <li *ngFor="let subitem of menu.submenus">
                    <div *ngIf="subitem.type!='dropdown'">
                      <a href="javascript:void(0)" (click)="navigateURL(subitem.url)"> {{subitem.title}} </a>
                    </div>
                    <div *ngIf="subitem.type==='dropdown'" class="subitem-nav">
                      <a href="javascript:void(0)" (click)="subtoggle(subitem)"> {{subitem.title}} </a>
                      <i [ngClass]="{'fa fa-angle-down':subitem.type === 'dropdown'}" aria-hidden="true"></i>
                    </div>
                    <!-- <div *ngIf="subitem.type === 'dropdown'" class="subitem-submenu"> -->
                    <div *ngIf="subitem.active === true" class="subitem-bar" >
                      <li *ngFor="let items of subitem.submenu">
                        <a href="javascript:void(0)" (click)="navigateURL(items.url)">{{items.title}}</a>
                      </li>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="logout-part">
          <li class="nav-item" *ngIf="isLoggedIn">
            <a href="#" class="nav-link text-light" routerLink="">
              Change Password</a
            >
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a
              href="#"
              routerLink="/main/auth/login"
              class="nav-link text-light"
              (click)="logout()"
            >
              Logout</a
            >
          </li>
        </div>

      <ng-container *ngIf="!isLoggedIn">
        <a href="#" class="nav-link text-light" routerLink="/main/auth/login">
          Login</a
        >

        <span href="#" class="text-light" style="line-height: 3vh"></span>

        <a href="#" class="nav-link text-light" routerLink="/main/auth/register"
          >Register</a
        >
      </ng-container>
    </mat-sidenav>

    <!-- router outlet -->
    <mat-sidenav-content
      style="
        position: relative;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-rows: 1fr auto;
      "
    >
      <section style="overflow-y: scroll; background: radial-gradient(circle, rgba(85,98,207,1) 0%, rgba(0,44,255,1) 43%, rgba(255,255,255,1) 100%);">
        <router-outlet></router-outlet>
      </section>
      <!-- pagination -->
      <section class="position-relative container-fluidp-0 m-0">
        <div class="d-flex justify-content-center pe-3 m-0">
          <mat-paginator
            *ngIf="store.getPaginator().display"
            style="
              width: 100%;
              max-width: 100vw;
              z-index: 10000;
              border: .3vh solid #b8b8b8;
            "
            [length]="store.getPaginator().length"
            [pageSize]="store.getPaginator().pageSize"
            [pageSizeOptions]="store.getPaginator().pageSizeOptions"
            (page)="controlPage($event)"
          >
          </mat-paginator>
        </div>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- removed services may be used in future version  -->

<!--
        <li class="nav-item">
          <a href="#" class="nav-link text-light" routerLink="job/needVoluteer">
            Post Job</a
          >
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-light" routerLink="job/new">
            Find Job</a
          > -->
